n8n/workflows/Forgot-Password.json
{
  "name": "Forgot-Password",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forgot-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-forgot-password",
      "name": "Webhook: Solicitar Reset",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "forgot-password-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-crud.sosescritura.com.br/auth/request-password-reset",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "={{ $json.body.identifier }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-request-reset-token",
      "name": "Gera token de reset (Worker)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "api-key-credential-id",
          "name": "API Key Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-token-generated",
      "name": "Se gerou token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.email, u.fullname FROM users u WHERE (u.cpf = $1 OR u.email = $1) AND u.deleted_at IS NULL LIMIT 1",
        "options": {
          "queryBatching": "independently"
        },
        "additionalFields": {
          "values": {
            "values": [
              {
                "column": "identifier",
                "value": "={{ $('Webhook: Solicitar Reset').first().json.body.identifier }}"
              }
            ]
          }
        }
      },
      "id": "db-find-user",
      "name": "Busca usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-user-found",
      "name": "Se usuário existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.sosescritura.com.br/webhook/send-email",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Busca usuário').first().json.email }}"
            },
            {
              "name": "subject",
              "value": "Redefinir sua senha"
            },
            {
              "name": "body",
              "value": "={{ $('Webhook: Solicitar Reset').first().json.body.name || 'Usuário' }},\\n\\nVocê solicitou para redefinir sua senha.\\n\\nClique no link abaixo para continuar:\\nhttps://seu-dominio.com.br/reset-password?token={{ $('Gera token de reset (Worker)').first().json.token }}\\n\\nEste link é válido por 24 horas.\\n\\nSe você não solicitou isso, ignore este email.\\n\\nAtenciosamente,\\nTim de Suporte\""
            }
          ]
        },
        "options": {}
      },
      "id": "email-send-reset",
      "name": "Envia email com reset link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  statusCode: 200,\n  message: 'Se a conta existe, um link de reset será enviado por email',\n  success: true\n}) }}",
        "options": {}
      },
      "id": "response-success",
      "name": "Retorna sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  statusCode: 200,\n  message: 'Se a conta existe, um link de reset será enviado por email',\n  success: true\n}) }}",
        "options": {}
      },
      "id": "response-success-no-user",
      "name": "Retorna sucesso (user não encontrado)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 350]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reset-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-confirm-reset",
      "name": "Webhook: Confirmar Reset",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 600],
      "webhookId": "reset-password-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-crud.sosescritura.com.br/auth/confirm-password-reset",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.body.token }}"
            },
            {
              "name": "new_password",
              "value": "={{ $json.body.new_password }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-confirm-reset",
      "name": "Confirma reset no Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "api-key-credential-id",
          "name": "API Key Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.verified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-reset-verified",
      "name": "Se reset validado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  statusCode: 200,\n  message: 'Senha alterada com sucesso',\n  verified: true,\n  token: $json.token\n}) }}",
        "options": {}
      },
      "id": "response-reset-success",
      "name": "Retorna reset sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ JSON.stringify({\n  statusCode: 401,\n  message: 'Token inválido ou expirado',\n  verified: false\n}) }}",
        "options": {}
      },
      "id": "response-reset-failed",
      "name": "Retorna reset falhou",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 700]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Solicitar Reset": {
      "main": [
        [
          {
            "node": "Gera token de reset (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera token de reset (Worker)": {
      "main": [
        [
          {
            "node": "Se gerou token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se gerou token": {
      "main": [
        [
          {
            "node": "Busca usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna sucesso (user não encontrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca usuário": {
      "main": [
        [
          {
            "node": "Se usuário existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se usuário existe": {
      "main": [
        [
          {
            "node": "Envia email com reset link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna sucesso (user não encontrado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email com reset link": {
      "main": [
        [
          {
            "node": "Retorna sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Confirmar Reset": {
      "main": [
        [
          {
            "node": "Confirma reset no Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirma reset no Worker": {
      "main": [
        [
          {
            "node": "Se reset validado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se reset validado": {
      "main": [
        [
          {
            "node": "Retorna reset sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna reset falhou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "forgot-password-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-n8n-instance-id"
  },
  "id": "forgot-password-workflow",
  "tags": ["authentication", "password-reset"]
}
